

@font-face {
    font-family: "bold";
    src: url("files/fonts/700i.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "black";
    src: url("files/fonts/900.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "blacki";
    src: url("files/fonts/900i.ttf");
    font-weight: 900;
    font-style: italic;
}

@font-face {
  font-family: ultralight;
  src: url("files/fonts/300.ttf");
  font-weight: 300;
}
  
body{
    overflow: hidden;
}
  .speedo {
    font-family: 'black';
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    width: 240px;
    height: 240px;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-bottom-color: transparent;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    font-variant-numeric: tabular-nums;
  }
  .speedo::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 4px;
    border-radius: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom-color: transparent;
  }
  .speedo .rot {
    transform: rotate(45deg);
    transition: transform 0.1s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    z-index: 10000;
  }
  .speedo .indicator {
    width: 4px;
    margin-left: -2px;
    margin-top: -15px;
    box-shadow: 0 0 2px #eb5454;
    opacity: 0;
    height: 30px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background: #eb5454;
    z-index: 10000;
    transform: translate(0, 95px);
  }
  .speedo .lines > span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    font-size: 0.5em;
    height: 2px;
    width: 40px;
    text-align: center;
  }

  .lowRPM{
    background: linear-gradient(to left, rgba(255, 255, 255, 0.55) 10%, transparent 30%, transparent 70%, rgba(255, 255, 255, 0.75) 90%);
  }

  .speedo .lines > span span.text {
    position: absolute;
    opacity: 0.9;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  }

  .highRPM {
    color: #eb5454;
    background: linear-gradient(to left, rgba(235, 84, 84, 0.55) 10%, transparent 30%, transparent 70%, rgba(235, 84, 84, 0.75) 90%);
    z-index: 9999;
    font-weight: 800;
  }

  .speedo .lines > span:nth-child(9) {
    transform: translate(-50%, -50%) rotate(224.36deg) translate(-99px);
  }
  .speedo .lines > span:nth-child(9) span.text {
    transform: translate(-50%, -50%) rotate(-224.36deg);
  }
  .speedo .lines > span:nth-child(8) {
    transform: translate(-50%, -50%) rotate(190.74deg) translate(-99px);
  }
  .speedo .lines > span:nth-child(8) span.text {
    transform: translate(-50%, -50%) rotate(-190.74deg);
  }
  .speedo .lines > span:nth-child(7) {
    transform: translate(-50%, -50%) rotate(157.12deg) translate(-99px);
  }
  .speedo .lines > span:nth-child(7) span.text {
    transform: translate(-50%, -50%) rotate(-157.12deg);
  }
  .speedo .lines > span:nth-child(6) {
    transform: translate(-50%, -50%) rotate(123.5deg) translate(-99px);
  }
  .speedo .lines > span:nth-child(6) span.text {
    transform: translate(-50%, -50%) rotate(-123.5deg);
  }
  .speedo .lines > span:nth-child(5) {
    transform: translate(-50%, -50%) rotate(89.88deg) translate(-99px);
  }
  .speedo .lines > span:nth-child(5) span.text {
    transform: translate(-50%, -50%) rotate(-89.88deg);
  }
  .speedo .lines > span:nth-child(4) {
    transform: translate(-50%, -50%) rotate(56.26deg) translate(-99px);
  }
  .speedo .lines > span:nth-child(4) span.text {
    transform: translate(-50%, -50%) rotate(-56.26deg);
  }
  .speedo .lines > span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(22.64deg) translate(-99px);
  }
  .speedo .lines > span:nth-child(3) span.text {
    transform: translate(-50%, -50%) rotate(-22.64deg);
  }
  .speedo .lines > span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-10.98deg) translate(-99px);
  }
  .speedo .lines > span:nth-child(2) span.text {
    transform: translate(-50%, -50%) rotate(10.98deg);
  }
  .speedo .lines > span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-44.6deg) translate(-99px);
  }
  .speedo .lines > span:nth-child(1) span.text {
    transform: translate(-50%, -50%) rotate(44.6deg);
  }
  .speedo .lines > span:nth-child(0) {
    transform: translate(-50%, -50%) rotate(-78.22deg) translate(-99px);
  }
  .speedo .lines > span:nth-child(0) span.text {
    transform: translate(-50%, -50%) rotate(78.22deg);
  }
  .speedo .center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .speedo .inner {
    width: 65%;
    height: 65%;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.55);
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .speedo .inner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -6px;
    border-radius: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom-color: transparent;
  }
  .speedo .inner span sub {
    font-size: 0.5em;
    opacity: 0.25;
    margin-right: -20px;
  }
  .speedo .inner span.small {
    font-family: ultralight;
    font-size: 0.5em;
    opacity: 0.65;
    font-weight: 300;
    line-height: 20px;
  }
  .speedo .inner span.feat {
    color: #eba134;
  }
  .speedo .bg {
    width: 180%;
    margin-left: -40%;
    height: 211.2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    background-color: rgba(60, 60, 60, .9);

    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
  }
  
  .miniIcon{
    width: 20px;
    opacity: .8;
  }

  .miniIconBG{
    position: absolute;
    opacity: .1;
    width: 20px;
  }

  /*  Fuel */
  .speedo-fuel{
    position: relative;
    height: 108px;
    width: 108px;
    background-color: rgba(60, 60, 60, .9);
    border-radius: 50%;
    display: inline-block;
  }

  .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
    left: 4px;
    top: 4px;
}

.circle canvas{
    max-width: 120px;
}

.speedo-fuel .icon{
    position: relative;
    width: 35px;
    left: 36.5px;
    top: 25.5px;
}

.speedo-fuel p{
    text-align: center;
    padding-top: 5px;
    color: #fff;
    font-family: 'ultralight';

}

.data-div{
    font-family: 'ultralight';
    background-color: rgba(60, 60, 60, .9);
    display: inline-block;
    color: #fff;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    font-size: 14px;
    margin-bottom: 10px;
}

.pointers{
  position: absolute;
  top: 0;
  left: 0;
  height: 108px;
  width: 108px;
  opacity: .8;
}

/* Glows */
.redGlow{
  filter: invert(32%) sepia(100%) saturate(7492%) hue-rotate(12deg) brightness(96%) contrast(130%);
  opacity: 1;
  animation: blinker 1s linear infinite;
}

.yellowGlow{
  filter: invert(73%) sepia(77%) saturate(3651%) hue-rotate(6deg) brightness(112%) contrast(98%);

  opacity: 1;
}

.greenGlow{
  filter: invert(70%) sepia(67%) saturate(491%) hue-rotate(87deg) brightness(99%) contrast(90%);
  opacity: 1;
  animation: blinker 1s linear infinite;
}

.littletext{
  font-size: 12px;
  opacity: .5;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#indexLBG{
  top: 15px;
  left:  -1.5px;
}